/* reset */

a {
  text-align: center;
  font-size: 3em;
  margin-bottom: 0;
  margin-top: 0;
  line-height: 1;
  text-decoration: none;
  color: #fff;
}
a:nth-child(2) {
  font-family: Monoton;
  animation: neon1 1.5s ease-in-out infinite alternate;
}
a:nth-child(1) {
  font-family: Iceland;
  animation: neon2 1.5s ease-in-out infinite alternate;
}

@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #ff1177,
      0 0 70px #ff1177, 0 0 80px #ff1177, 0 0 100px #ff1177, 0 0 150px #ff1177;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #ff1177,
      0 0 35px #ff1177, 0 0 40px #ff1177, 0 0 50px #ff1177, 0 0 75px #ff1177;
  }
}

@keyframes neon2 {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #141e30,
      0 0 70px #141e30, 0 0 80px #141e30, 0 0 100px #141e30, 0 0 150px #141e30;
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #141e30,
      0 0 35px #141e30, 0 0 40px #141e30, 0 0 50px #141e30, 0 0 75px #141e30;
  }
}

/*Make stuff responsive*/

@media (max-width: 650px) {
  p {
    font-size: 3.5em;
  }
}

ul, li{
  list-style:none;
}


.notify-wrap{
  position:relative;
  background: #141e30;
}
.notify-wrap-inner{
  height: 40px;
  line-height:40px;
  padding: 0 20px;
  margin:0 30px;
  background: #141e30;
  text-align: center;
}
.ellipsis{
  overflow: hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.notify-scroll{
  display: inline-block;
  animation:text-scroll 25s linear infinite;
}
@keyframes text-scroll{
  from{
    transform:translateX(20%);
    -moz-transform:translateX(20%);
    -webkit-transform:translateX(20%);
    -o-transform:translateX(20%);
    -ms-transform:translateX(20%);
  }
  to{
    transform:translateX(-100%);
    -moz-transform:translateX(-100%);
    -webkit-transform:translateX(-100%);
    -o-transform:translateX(-100%);
    -ms-transform:translateX(-100%);
  }
}
.notify-scroll ul{
  display: inline;
}
.notify-scroll ul li{
  display: inline-block;
  padding-right: 350px;
}